<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group36.cpr">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartCPRActivity1"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".StartCPRActivity2"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".StartCPRActivity3"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".TutorialActivity1"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".TutorialActivity2"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".TutorialActivity3"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".TutorialActivity4"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".TutorialActivity5"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".HistoryMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".HistoryDetailedActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".StartCPRActivity4"
            android:label="@string/app_name"></activity>
        <service android:name=".PhoneToWatchService" />
        <service
            android:name=".PhoneListenerService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

    </application>

</manifest>
